<!DOCTYPE html>
<html lang="en">
<head>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/simplepeer.min.js"></script> 
    <script src='/script.js'></script>

    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style type="text/css">
    	body{
    margin-top:20px;
    background-color: #edf0f0;    
}
.btn-primary, 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary {
    background-color: #3bc0c3;
    border: 1px solid #3bc0c3;
}
.p-t-10 {
    padding-top: 10px !important;
}
.media-main a.pull-left {
    width: 100px;
}
.thumb-lg {
    height: 84px;
    width: 84px;
}
.media-main .info {
    overflow: hidden;
    color: #000;
}
.media-main .info h4 {
    padding-top: 10px;
    margin-bottom: 5px;
}
.social-links li a {
    background: #EFF0F4;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #7A7676;
}
    </style>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body p-t-0">
                    <div class="input-group">
                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/oncall" method="post" id="formid">
        <input type="hidden" name='tocall' id="tocall"value=>
    </form>

    <% users.forEach(function(user){ %>

        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body p-t-10">
                    <div class="media-main">
                        <a class="pull-left" href="#">
                            <img class= "thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                        </a>
                        <div class="pull-right btn-group-sm">

                            <a  class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" id=<%=user.username %> onclick="requestcall(this.id); "   >
                   
                                <i class="fas fa-video" id=<%=user.username %> > </i>
                            </a>

                        </div>
                        <div class="info">
                            <h4><%= user.username %></h4>
                            <p class="text-muted">Graphics Designer</p>
                        </div>
                    </div>
                    <%= user.email%>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>





        <% }) %>



    </div>
    <button type="button" id="displaypopup" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" >
       
      </button>
      
      <!--  Answer call or reject call -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="caller" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="caller">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
 
            <div class="modal-footer">
            <center>
              <button type="button" onclick="socket.emit('callaccepted',document.getElementById('caller').innerHTML);acceptcall(getElementById('caller').innerHTML)" class="btn btn-success" data-dismiss="modal" id="answer">answer</button>
              <button type="button" onclick="socket.emit('callrejected',document.getElementById('caller').innerHTML)" class="btn btn-danger" data-dismiss="modal" id="reject"> reject</button>
            </center>
            </div>
          </div>
        </div>
      </div>
      
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
 $("a[data-toggle='tooltip']").tooltip();
});

</script>


</body>
</html>